p {
  display: none;
}

img {
  height: 300px;
  width: 300px;
  border: 4px dashed limegreen;
}

body {
  background-color: darkgreen;
  color: white;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px limegreen;
  font-family: cursive;
}
